name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Build:
    name: ${{ matrix.julia-version }} - ${{ matrix.julia-arch }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ['1.5','1.6','1.7','1.8','nightly']
        julia-arch: [x64, x86]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1

      - name: Run tests
        uses: julia-actions/julia-runtest@v1

      - name: Process coverage
        uses: julia-actions/julia-processcoverage@v1
        
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: lcov.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  CodeStyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: '1.8'

      - name: Run JuliaFormatter
        run: |
          using Pkg
          Pkg.add("JuliaFormatter")
          using JuliaFormatter
          formatted = JuliaFormatter.format(".", verbose=true)

          if formatted
            @info "All files match designated style"
            exit(0)
          else
            @error "Some files do not match the designated style"
            write(stdout, read(`git diff`, String))
            exit(1)
          end
        shell: julia --color=yes --compiled-modules=no --optimize=0 {0}

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1

      - name: Run Aqua
        run: |
          using Pkg
          using Aqua
          project = Pkg.project()
          name = project.name
          @eval using $name
          Aqua.test_all(@eval $name)
        shell: julia --project=@. --color=yes --compiled-modules=no --optimize=0 {0}

